.splash-bg {
  position: relative;
  background-size: cover;
  height: 45%;
  z-index: 1;
  background: transparent url('../../../assets/images/splashbg.png') repeat-x;
  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.splash-info {
  position: relative;
  z-index: 2;
  margin-top: -48px;
  text-align: center;
}

.splash-logo {
  margin: auto;
  background: url('../../../assets/images/appicon.png') repeat transparent;
  background-size: 100%;
  width: 96px;
  height: 96px;
}

.splash-intro {
  padding-top: 10px;
  font-size: 18px;
  max-width: 80%;
  margin: auto;
  font-weight: 300;
}

ion-button.login {
  margin-top: 25px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  &.activated {
    background-color: rgb(220, 220, 220);
  }
}
