<ion-content scroll="false">
    <div class="splash-bg"></div>
    <div class="splash-info">
        <div class="splash-logo"></div>
        <div class="splash-intro">
            {{ 'WELCOME_INTRO' | translate }}
        </div>
    </div>
    <div padding>
        <ion-button expand="block" routerLink="/signup" routerDirection="forward" class="login">{{ 'SIGNUP_BUTTON' | translate }}</ion-button>
        <ion-button expand="block"  routerLink="/login" routerDirection="forward" class="login">{{ 'LOGIN' | translate }}</ion-button>
    </div>
</ion-content>
