.signup-content {
  margin-top: 5%;
}

.trackbees-logo {
  margin: auto;
  background: url('../../../assets/images/appicon.png') repeat transparent;
  background-size: 100%;
  width: 96px;
  height: 96px;
  padding-top: 5%;
}
