<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{'SIGNUP_TITLE' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
                <div class="trackbees-logo"></div>
        </ion-card-header>
        <ion-card-content>
            <form name="form" #form>
                <ion-list>

                    <ion-item>
                        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
                        <ion-input required #name="ngModel" autocapitalize="words" type="text" [(ngModel)]="user.name"
                                   name="name"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngIf="name.invalid && name.dirty && name.touched">
                            <div class="error-message">
                                <p>{{ 'NAME_REQUIRED' | translate}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
                        <ion-input #email="ngModel" required type="email" [(ngModel)]="user.email"
                                   name="email"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngIf="email.invalid && email.dirty && email.touched">
                            <div class="error-message">
                                <p>{{ 'EMAIL_REQUIRED' | translate}}</p>
                            </div>
                        </ng-container>
                    </div>

                    <ion-item>
                        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
                        <ion-input #password="ngModel" required [(ngModel)]="user.password" name="password"
                                   pattern="[A-Za-z0-9]{1,20}" type="password">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label fixed>{{ 'CONFIRMED_PASSWORD' | translate }}</ion-label>
                        <ion-input #confirmedPassword="ngModel" [(ngModel)]="confirmedPasswordModel" required
                                   name="confirmedPassword" type="password">
                        </ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container
                                *ngIf="password.value !== confirmedPassword.value  && password.dirty && confirmedPassword.touched">
                            <div class="error-message">
                                <p> {{ 'PASSWORDS_NOT_MATCH' | translate }}</p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="password.invalid && password.dirty && password.touched">
                            <div class="error-message">
                                <p> {{ 'PASSWORD_REQUIRED' | translate }}</p>
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label fixed>{{ 'PHONE_NUMBER_LABEL' | translate }}</ion-label>
                        <ion-input #phone="ngModel" [(ngModel)]="user.phone" name="phone"
                                   type="tel" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$">
                        </ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngIf="phone.invalid && phone.dirty && phone.touched">
                            <div class="error-message">
                                <p>{{ 'INVALID_PHONE' | translate}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <div padding>
                        <ion-button [disabled]="!form.checkValidity()" expand="block" round
                                    (click)="signup()" color="primary">{{ 'SIGNUP_BUTTON' | translate }}</ion-button>
                    </div>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>
