.highcharts-container {
  width: 100%;
  height: 100%;
}

.highcharts-wrapper {
  height: 120px;
  margin: auto;
}

.hive-info ion-row {
  border-bottom: 1px solid #eaecef;
}

.icon-hive-extas {
  line-height: 1;
  vertical-align: middle;
  font-size: 200%;
}

.extra-title {
  font-size: 16px;
  font-weight: 500
}
