<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="login-content">
        <ion-card-header>
            <ion-card-title>
                <div class="trackbees-logo"></div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form name="form" #form>
                <ion-list>
                    <ion-item>
                        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
                        <ion-input #email="ngModel" required [(ngModel)]="user.email" name="email"
                                   type="email"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngIf="email.invalid && email.dirty && email.touched">
                            <div class="error-message">
                                <p>{{ 'EMAIL_REQUIRED' | translate}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
                        <ion-input #password="ngModel" required [(ngModel)]="user.password" name="password"
                                   pattern="[A-Za-z0-9]{1,20}" type="password"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngIf="password.invalid && password.dirty && password.touched">
                            <div class="error-message">
                                <p > {{'PASSWORD_REQUIRED' | translate }}</p>

                            </div>
                        </ng-container>
                    </div>
                    <div padding>
                        <ion-button [disabled]="!form.checkValidity()" (click)="login()" expand="block">{{'LOGIN_BUTTON' | translate }}
                        </ion-button>
                    </div>
                    <div padding>
                        <a float-right routerLink="/signup" routerDirection="forward"> {{ 'CREATE_ACCOUNT' | translate }}</a>
                    </div>

                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
