<ion-header>
    <ion-toolbar color="light">
        <ion-icon (click)="addHive()"
                  class="icon-add"
                  name="add-circle"
                  padding-horizontal
                  slot="end">
        </ion-icon>
        <ion-title>
            {{ 'HIVES_TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="refreshHives($event)" slot="fixed">
        <ion-refresher-content
                [pullingText]="'PULL_TO_REFRESH'| translate"
                [refreshingText]=" 'WAIT_HIVE_LOAD_MESSAGE' | translate "
                pullingIcon="arrow-dropdown"
                refreshingSpinner="crescent">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let hive of hives" no-margin no-padding>
        <ion-item-sliding no-margin no-padding>
            <ion-item (click)="openHive(hive)" [disabled]="!hive.lastUpdate" detail>
                <ion-avatar slot="start">
                    <!--ion-icon class="hive-avatar" name="logo-buffer" size="large" color="primary"></ion-icon-->
                    <img alt="" src="../../assets/images/hive-avatar.jpg">
                </ion-avatar>
                <ion-label>
                    <h3 class="hive-title"> {{hive.name}}</h3>
                    <p class="subtext">
                      <!--  {{ 'LAST_UPDATE' | translate }}: -->
                        <span *ngIf="hive.lastUpdate">{{hive.lastUpdate | timeAgo: currentLanguage}}</span>
                        <span *ngIf="!hive.lastUpdate">{{ 'NO_LAST_UPDATE' | translate }}</span>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-button (click)="removeHive(hive)" color="danger">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
