:host {
  width: 100%;
}
ion-grid{
  max-width: 100%;
}

.hive-img {
  background: url('../../assets/images/hive-round.png') no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.icon-add {
  line-height: 1;
  vertical-align: middle;
  font-size: 1.8em;
}


.subtext {
  font-size: 80%;
  margin-top: 0;
  color: #8b979f;
}

.hive-title {
  font-weight: 500;
  font-size: 15px;
}
