<ion-header>
    <ion-toolbar color="light">
        <ion-title>
            {{ 'SETTINGS_TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="hive-card" no-margin no-padding>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-icon color="primary" class="person-icon" name="person"></ion-icon>
                    <ion-label>
                        <div class="title" margin-start>
                            <ion-card-title>{{ user?.name}}</ion-card-title>
                            <ion-card-subtitle class="subtitle">{{user?.email}}</ion-card-subtitle>
                        </div>
                    </ion-label>
                </ion-item>
                <ion-item routerLink="/tabs/settings/account" detail>
                    <ion-icon class="settings-item-icon" color="primary" slot="start" name="key"></ion-icon>
                    <ion-label>
                        <h3 class="hive-title"> {{'ACCOUNT_LABEL'  | translate}}</h3>
                        <p class="subtext" style="font-size: 80%">
                            <span>{{ 'NAME' | translate }}&#44;</span>
                            <span>&nbsp;{{ 'EMAIL' | translate }}&#44;</span>
                            <span>&nbsp;{{ 'PASSWORD' | translate }}&#44;</span>
                            <span>&nbsp;{{ 'LOGOUT_LABEL' | translate }}</span>
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
